In [1]:
import pandas as pd

In [2]:
pokemon_df = pd.read_csv('Pokemon.csv')
pokemon_df.head(5)
pokemon_df.rename(columns = {'Type 1':'Type'}, inplace=True)

In [3]:
def filter_names():
    if " " not in name:
        True
    else:
        False

In [4]:
pd.Series([name for name in pokemon_df['Name'] if " " not in name])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
700       Noivern
701       Xerneas
702       Yveltal
703       Diancie
704     Volcanion
Length: 705, dtype: object

In [5]:
name_filter = ~pokemon_df['Name'].str.contains(" ")
pokemon_df.head(5)

,#,Name,Type,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [6]:
pokemon_df = pokemon_df.loc[name_filter, ['Name','Type', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].set_index('Name')

In [7]:
pokemon_df.to_csv('mod_pokemon.csv', index=True)

In [8]:
mod_poke_df = pd.read_csv('mod_pokemon.csv')

In [9]:
mod_poke_df.head(5)

         Name   Type  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0   Bulbasaur  Grass  45      49       49       65       65     45
1     Ivysaur  Grass  60      62       63       80       80     60
2    Venusaur  Grass  80      82       83      100      100     80
3  Charmander   Fire  39      52       43       60       50     65
4  Charmeleon   Fire  58      64       58       80       65     80